.splash_pieces {
    top: -15px;
    left: -15px;
    position: absolute;
    // height: 1841px;
    // width: 3300px;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.splash_container {
    height: 100vh;
    width: 100vw;
    position: relative;
    // display: flex;
    // overflow: hidden;
}

.background {
    z-index: 1;
}

.girl {
    z-index: 2;
}

.guy {
    z-index: 3;
}
